@import '../variables';

.loader {
  position: relative;
}

.loader--loading {
  color: #999;
}

.loader__auto--on {

}

.loader__controls {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  overflow: hidden;
  height: 22px;
  width: 140px;
}

.expandable__content {
  .loader__controls {
    top: -22px;
    right: 0;
    border-radius: 4px 4px 0 0;
    background-color: #eee;
  }
}

.loader__refresh {
  padding: 4px;
  display: inline-block;
}

.loader__countdown {
  padding: 4px;
  display: inline-block;
  width: 20px;
  text-align: center; 
}

.loader__auto {
  padding: 4px;
  display: inline-block;
}

.loader__auto--on {
  background-color: $green;
  color: #fff;
}

.loader__kccmd {
  background-color: #eee;
  display: block;
  padding: 2px 150px 2px 10px;
  text-align: right;
  button {
    font-family: $fontMono;
  }
}

.expandable__content {
  .loader__kccmd {
    padding-right: 10px;
  }
}