body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}


h1 {
  margin: 0;
  padding: 0;
  font-size: 14px; 
}

h2 {
  font-size: 16px; 
}


h2 a {
  display: inline-block; 
}

header, footer {
  background-color: #eee;
  padding: 10px 20px;
}

main {
  padding: 20px; 
}

table {
  border-collapse: collapse;
}

td, th{
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  padding: 4px;
  vertical-align: top;
}

a {
  cursor: pointer;
}

a:hover {
  color: #f00 !important;
}

.title--collapsed {
  
}

.button {
  display: inline-block;
  background-color: #339900;
  color: #fff;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  padding: 2px;
  border-radius: 2px;
  font-size: 12px;
  text-rendering: optimizeLegibility;
}

.json {
  
  
}

.json__toggle {
  display: inline-block;
  background-color: #339900;
  color: #fff;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  padding: 4px;
  border-radius: 4px;
}

.json__detail {
  
}

pre {
  padding: 0;
  margin: 0;
}

.deployment__scaleinput {
  width: 30px;
  margin-right: 4px;
}

.pod--summary td{
  border-width: 2px 1px 1px 1px;

}

.pod--summary .container--ready a{
  color: #339900;
}

.pod--summary .container--notready a{
  color: #cc0000;
}

.pod--summary .container--terminated {
  text-decoration-line: line-through;
}

.pod__events--hidden {
  display: none;
}


.container__image {
  font-size: 10px;
}

.container__msg {
  font-size: 12px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}


.container__links {
  display: block;
  position: relative;
  padding-right: 80px;
}

.container__link {
  padding: 0;
}

.container__link--port {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 10px;
}

.container__hash {
  width: 50px;
  font-size: 10px;
  text-align: center;
}

.container__helm {
  width: 50px;
  font-size: 10px;
  text-align: center;
}

.container__hash--match, 
.container__helm--match {
  color: #339900;
}

.container__hash--mismatch, 
.container__helm--mismatch {
  color: #cc0000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  scroll: auto;
  z-index: 900;
}

.overlay .button {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 7px;
  box-sizing: border-box;
}

.overlay__content {
  padding: 10px;
  background-color: #f5f2f0;
}


.secret {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 8px;
}

.secret span {
  display: block;
}

.secret__key {

}

.secret__value span {
  padding: 4px 20px 4px 4px;
  margin: 2px;
  position: relative;
}

.secret__value span:before{
  position: absolute;
  top: 6px;
  right: 0;
}