$green: #390;
$darkGrey: #333;

$lime: #a6e22e;
$cyan: #66d9ef;
$purple: #ae81ff;
$yellow: #f9ec70;
$orange: #fd9720;
$pink: #f92672;
$red: #ff0000;

$contextBg: $darkGrey;

$fontMono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;